<div class="container">
  <header class="app-header">
    <div class="search-container">
      <label for="entry-search">Search:&nbsp;</label>
      <input id="entry-search" type="search" name="entry-search" autofocus />
    </div><!--/.search-container-->

    <div class="logo-container">
      <h2 class="logo">{{title}}</h2>
    </div><!--/.logo-container-->
  </header>

  <main class="app-body">
    <table id="entries">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone #</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>(555) 555-5555</td>
          <td>john.doe@email.com</td>
          <td>
              <ul class="action-list">
                <li>Edit</li>
                <li>Favorite</li>
                <li>Delete</li>
              </ul>
            </td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>Doe</td>
          <td>(555) 555-5555</td>
          <td>jane.doe@email.com</td>
          <td>
            <ul class="action-list">
              <li>Edit</li>
              <li>Favorite</li>
              <li>Delete</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table><!--/#entries-->
  </main><!--/.app-body-->
</div><!--/.container-->
